.ng{
    background-color: grey;
     border: dotted;
     color: white;
}

.g{
          background-color: pink;
         border: solid;
  }

  img{
      width: 100;
      height: 100;
  }